<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/jpeg" href="logo.jpg"/>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="style.css">
    <title>Петиция Nintendo of Russia</title>
</head>
<body>
    <div class="container" id="app">
        <div v-if="!loading" class="card mt-4 mb-2 border">
            <div class="row mb-2">  
                <div class="six columns"><img src="logo.jpg" alt="logo" class="u-full-width border"></div>
                <div class="six columns">
                        <h3 class="mt-2" style="text-align: center;">Количество подписей</h3>
                        <h1 style="text-align: center;">{{count}}</h1>
                </div>
            </div>
            <p class="text">{{text}}</p>
            <small><a href="https://vk.com/nintendosign" target="_blank">Как попасть в этот список?</a></small>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Пользователь</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, idx) of profiles">
                        <td style="width: 50px;"><img :src="user.photo_100" alt="" class="border" width="40"></td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                    </tr>
                </tbody>
            </table>
            <small class="coop">by <a href="https://vk.com/mikhaltsov98" target="_blank">bqio</a></small>
        </div>
        <div class="loading" v-else></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>